<!DOCTYPE html>
{% load static %}
{% load leaflet_tags %}
<html lang="en">
 <meta charset="utf-8">
    <head>
    {% leaflet_js %}
	{% leaflet_css %}
       
        <title>Agricom</title>
        <style type="text/css">
		    #gis {width:100%;height:400px;}
	    </style>
        <script type="text/javascript" src="{% static 'mysite/dist/leaflet.ajax.js' %}" > </script>
    </head>
<body>
    <h3><i>Incidences Reported</i></h3>
        <br>
        <script>
            function our_layers(map, options){
                let datasets = new L.GeoJSON.AJAX("{% url 'country' %}",{
                    onEachFeature: function(feature,layer){
                        layer.bindPopup(feature.properties.name.toString());
                    }

                });

                datasets.addTo(map);

                let points = new L.GeoJSON.AJAX("{% url 'incidences' %}",{
                    onEachFeature: function(feature,layer){
                        layer.bindPopup(feature.properties.name.toString());
                    }
        
                });
        
                //datasets.addTo(map);
                points.addTo(map);
              
            }
        </script>

        {% leaflet_map 'gis' callback="window.our_layers" %}
</body>
</html>
